@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94c2ed;
$orange: #E38968;
$gray: #92959E;

body {
  background-color: #C5DDEB !important;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

#a-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

#a-scroll::-webkit-scrollbar
{
  border-radius: 10px;
  width: 10px;
  background-color: #F5F5F5;
}

#a-scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
          left bottom,
          left top,
          color-stop(0.34, rgb(148, 194, 237)),
          color-stop(0.72, rgb(0, 29, 158)),
          color-stop(0.86, rgb(68, 71, 83)));
}

.people-list {
  background: #444753;
  float: left;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  .search {
    padding: 20px;
  }

  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }

  ul {
    padding: 20px;
    list-style: none;
    height: 770px;
    overflow-y: auto;
    scrollbar-face-color: #4e555b;


    li {
      padding-bottom: 20px;

      .name {
        &:hover {
          color: darken($blue, 7%);
          cursor: pointer;
        }
      }
    }
  }

  img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #94c2ed;
    float: left;
  }

  .about {
    float: left;
    margin-top: 8px;
  }

  .about {
    padding-left: 8px;
  }

  .status {
    color: $gray;
  }

}

.chat {
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;

    img {
      height: 55px;
      width: 55px;
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      border-color: #94c2ed;
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;

    .message-data {
      margin-bottom: 15px;

      img {
        height: 25px;
        width: 25px;
        border-radius: 50%;
      }
    }

    img {
      height: auto;
      width: 200px;
      display: inherit
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      position: relative;
    }

    .other-message {
      background: $green;
    }

    .my-message {
      white-space:pre-line;
      background: $blue;

      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }

  }

  .chat-message {
    padding: 30px;

    .textarea {
      -webkit-appearance: textarea;
      width: 100%;
      height: 90px;
      border: none;
      padding: 10px 20px;
      font: 16px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      overflow-y: auto;
      background-color: white;
      white-space: pre;
    }
    [contenteditable=true]:empty:before{
      content: attr(placeholder);
      display: block;
    }

    img {
      width: auto;
      height:100px;
      float: left;
    }
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }

    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;

    }

    button {
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;

      &:hover {
        color: darken($blue, 10%);
      }
    }
  }
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.inputfile{

  display: inline-block;

  input{
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label
  {
    cursor: pointer;
    color: #94c2ed;

    &:hover {
      color: darken($blue, 10%);
    }
  }


}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.clearfix:after {
  visibility: hidden;
  font-size: 0;
  height: 0;
}

